* {
  border: none;
  border-radius: 0;
  font-family: JetBrainsMono Nerd Font;
  font-size: 14px;
  min-height: 0;
}

@keyframes blink {
  to {
    background-color: alpha(#7aa2f7, 0.6);
    color: @foreground;
  }
}

window#waybar {
  background: transparent;
  color: white;
}

#workspaces {
  background-color: #24283b;
  margin: 5px;
  margin-left: 10px;
  border-radius: 5px;
}
#workspaces button {
  padding: 5px 10px;
  color: #c0caf5;
}

#workspaces button.active {
  color: #24283b;
  background-color: #7aa2f7;
  border-radius: 5px;
}

#workspaces button:hover {
  background-color: #7dcfff;
  color: #24283b;
  border-radius: 5px;
}

#custom-weather,
#custom-date,
#battery,
#pulseaudio,
#network,
#bluetooth,
#cpu,
#clock,
#memory,
#disk,
#temperature,
#tray,
#idle_inhibitor {
  /* border: 2px solid rgba(122, 162, 247, 0.33); */
  background-color: #24283b;
  padding: 5px 10px;
  margin: 5px 0px;
}

#idle_inhibitor {
  border-radius: 5px 5px 5px 5px;
  margin-right: 5px;
}

#idle_inhibitor.activated {
  /* background-color: #ff0000; */
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#custom-date {
  color: #7dcfff;
}

#custom-power {
  color: #24283b;
  background-color: #db4b4b;
  border-radius: 5px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0px;
  padding: 5px 10px;
}

#tray {
  background-color: #24283b;
  border-radius: 5px 5px 5px 5px;
  /* margin-right: 10px; */
  /* margin: 5px; */
  /* margin-left: -15px; */
  border-radius: 5px;
  padding: 0px 5px;
  margin-left: 0px;
}

#clock {
  color: #bb9af7;
  background-color: #24283b;
  /* border-width: 2px 2px 2px 0px; */
  border-radius: 0px 5px 5px 0px;
  padding: 5px 10px;
  margin-right: 5px;
}

#battery {
  color: #9ece6a;
  border-radius: 0px 5px 5px 0px;
  margin-right: 5px;
}

#battery.charging {
  color: #9ece6a;
}

#battery.warning:not(.charging) {
  background-color: #f7768e;
  color: #24283b;
  border-radius: 5px 5px 5px 5px;
}

#backlight {
  background-color: #24283b;
  color: #f7768e;
  border-radius: 5px 0px 0px 5px;
  padding: 5px 10px;
  margin: 5px 0px;
}

#custom-weather {
  border-radius: 5px 0px 0px 5px;
  /* border-width: 2px 0px 2px 2px; */
  margin-right: 0px;
  color: #9ece6a;
}

#network {
  color: #f7768e;
  border-radius: 5px 0px 0px 5px;
  /* margin-left: -2px; */
}

#bluetooth {
  color: #7aa2f7;
  border-radius: 0px 5px 5px 0px;
  margin-right: 5px;
}

#pulseaudio {
  color: #e0af68;
  border-radius: 0px 5px 5px 0px;
  margin-right: 5px;
}

#pulseaudio.mic {
  margin-right: 0px;
  border-radius: 5px 0px 0px 5px;
}

/* #pulseaudio.muted { */
/*     background-color: #e0af68; */
/*     color: #24283b; */
/*     border-radius: 5px 5px 5px 5px; */
/*     margin-left: -2px; */
/* } */

#disk {
  color: #e0af68;
  border-radius: 5px 0px 0px 5px;
  margin-right: 0px;
}

#memory {
  color: #e0af68;
  border-radius: 0px 0px 0px 0px;
  margin-right: 0px;
}

#cpu {
  color: #e0af68;
  border-radius: 0px 0px 0px 0px;
  margin-right: 0px;
}

#temperature {
  color: #e0af68;
  border-radius: 0px 5px 5px 0px;
  margin-right: 5px;
}

tooltip {
  background-color: #24283b;
  opacity: 0.8;
  border: 1px solid shade(#7aa2f7, 0.6);
  border-radius: 5px;
}
